<div>
  <div class="menu">
    <menu-button ref="passportBtn" label="passeport" path="../assets/images/pictos/passport.png"></menu-button>
    <menu-button ref="chestBtn" label="inventaire" path="../assets/images/pictos/chest.png"></menu-button>
    <menu-button ref="logbookBtn" label="journal" path="../assets/images/pictos/logbook.png"></menu-button>
  </div>
  <div class="part-right">
    <chapter-header bind-chapter="chapter"></chapter-header>
    <div class="main-content">
      <logbook-page ref="logbookPage" bind-subchapter="subchapter" bind-page="page"></logbook-page>
      <chest-grid ref="chestGrid" bind-chapter="chapter" bind-user="user"></chest-grid>
      <passport-grid ref="passportGrid" bind-chapter="chapter" bind-userchapters="user.chaptersDiscovered"></passport-grid>
    </div>
    <prev-next-button ref="prevNextButton"></prev-next-button>
  </div>
</div>