.sidebar
  position fixed
  z-index 1
  right 0
  width 68%
  height 100%
  background #fcf7e6
  transform translateX(100%)

  .menu
    min-width 145px
    width 14%
    background #ebe5d5
    padding-top 10.7%

  .menu-button:first-child .picto
    margin-top 0

  .menu-button:nth-child(1) .picto img
    width 45%