.chest-grid
  display table
  border-collapse separate
  -webkit-border-horizontal-spacing 20px
  -webkit-border-vertical-spacing 10px
  margin 0 auto

.chest-grid-item
  width 88px
  height 88px
  background sand
  border 4px solid darksand
  border-radius 4px
  display table-cell
  vertical-align middle

  .icon
    width 50px
    margin auto
    display block

  .padlock
    height 35px
    margin auto
    display block