<div class="chest-grid">
  <div class="row">
    <div class="chest-grid-item" rv-each-reward="row0">
      <img rv-show="reward.active" rv-src="reward.icon" class="icon">
      <img rv-hide="reward.active" src="../assets/images/pictos/rewards/padlock.png" class="padlock">
    </div>
  </div>
  <div class="row">
    <div class="chest-grid-item" rv-each-reward="row1">
      <img rv-show="reward.active" rv-src="reward.icon" class="icon">
      <img rv-hide="reward.active" src="../assets/images/pictos/rewards/padlock.png" class="padlock">
    </div>
  </div>
  <div class="row">
    <div class="chest-grid-item" rv-each-reward="row2">
      <img rv-show="reward.active" rv-src="reward.icon" class="icon">
      <img rv-hide="reward.active" src="../assets/images/pictos/rewards/padlock.png" class="padlock">
    </div>
  </div>
  <div class="row">
    <div class="chest-grid-item" rv-each-reward="row3">
      <img rv-show="reward.active" rv-src="reward.icon" class="icon">
      <img rv-hide="reward.active" src="../assets/images/pictos/rewards/padlock.png" class="padlock">
    </div>
  </div>
</div>