.line-header
  margin-bottom 20px
  color brown
  font-size 14px

  .line
    content ''
    width calc(20% - 15px)
    height 1px
    background brown
    display inline-block
    position relative
    top -5px

    &.left
      left -15px

    &.right
      left 15px