.logbook-page
  color brown
  width 372px
  margin 0 auto
  padding-top 50px

  img
    width 24%
    display inline-block

  .title
    display inline-block
    width 70%
    margin-left 3%
    position relative
    top -7px

    h1
      text-transform uppercase
      font-size 18px
      letter-spacing 3px
      margin-bottom 10px

    p
      @extend .font-default-italic
      font-size 15px

  .content
    @extend .font-default
    margin-top 35px
    font-size 16px
    height 225px

    &:first-line
      margin-left 1Opx