.logbook-page
  color brown
  width 410px
  margin 0 auto
  padding-top 50px

  img
    width 80px
    display inline-block

  h1
    display inline-block
    text-transform uppercase
    position relative
    top -55px
    left 15px

  .content
    margin-top 35px
    font-size 18px