.link-question
  width 100%
  height 100%
  position relative

  .answers,
  .subjects
    text-align left
    position absolute

    li
      margin-top 60px

      &:first-letter
        text-transform uppercase

      &:first-child
        margin-top 30px

  .answers
    top 0
    left 460px
