.link-question
  width 100%
  height 100%
  position relative

  .answers,
  .subjects
    text-align left
    position absolute

    li
      width 200px

      &:first-letter
        text-transform uppercase


  .answers
    top 0
    left 460px

    li
      margin-top 60px

      &:first-child
        margin-top 30px

  .subjects li
    height 32px
    margin-top 46px

    &:first-child
      margin-top 20px