header
  position fixed
  z-index 1
  right 25px
  top 25px

  .header-button
    width 60px
    height 60px
    display block
    background url('../assets/images/pictos/bag.svg')
    background-size contain
    background-position center center
    background-repeat no-repeat