.page-numbers
  @extend .font-default
  text-align center
  font-size 12px
  margin-top 55px

  &:before,
  &:after
    content ''
    width 75px
    height 1px
    background brown
    display inline-block
    position relative
    top -3px

  &:before
    left -20px

  &:after
    left 20px