.page-numbers
  @extend .font-default
  text-align center
  font-size 12px
  margin-top 55px

  .line
    width 75px
    height 1px
    background brown
    display inline-block
    position relative
    top -3px

  .line.left
    left -20px
    transform-origin center right

  .line.right
    left 20px
    transform-origin center left