.complete-question
  text-align left
  padding-top 35px

  p
    margin 35px 0
    line-height 1.5

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  input
    @extend .font-default
    border none
    border-bottom 2px solid #a2916d
    background-color transparent
    text-align center
    color #a2916d
    font-size inherit
    width 90px

    &:focus
      outline none