<div class="exercice">
  <div class="background"></div>
  <div class="content">
    <div class="inner-content exercice-container">
      <line-header ref="header" bind-title="headertitle"></line-header>
      <help-button></help-button>

      <p class="subject" rv-html="subject"></p>

      <div class="middle-part intro">
        <img rv-src="exercice.chapter.iconPath">
        <div class="intro-text" rv-html="exercice.chapter.content">
        </div>
      </div>

      <div class="middle-part question">
        <p class="message">{msg}</p>
        <question ref="question" bind-question="question"></question>
      </div>

      <div class="middle-part end">
        <p class="subtitle">{endsentence}</p>
        <img rv-src="reward.icon">
        <p class="reward-intro">Tu as trouvé un nouvel objet :</p>
        <p class="reward-name">{reward.name}</p>
      </div>

      <border-button ref="btnNext" bind-label="btnlabel"></border-button>
    </div>

    <div class="inner-content logbook-container">
      <line-header ref="headerLogbook" bind-title="headertitle"></line-header>
      <p class="subject" rv-html="subject"></p>

      <div class="middle-part intro">
        <img rv-src="exercice.chapter.iconPath">
        <div class="intro-text" rv-html="exercice.intro"></div>
      </div>

      <div class="middle-part question">
        <p class="instruction">{question}</p>
        <textarea id="logbookanswer" cols="75" rows="8"></textarea>
      </div>

      <div class="middle-part end">
        <p class="subtitle">Tu as rajouté une page à ton journal de bord !</p>
        <img src="../assets/images/logbook.png">
      </div>

      <border-button ref="btnPrev" label="Retour"></border-button>
      <border-button ref="btnNextLogbook" bind-label="btnlabel"></border-button>
    </div>

  </div>
</div>