<div class="exercice">
  <div class="background"></div>
  <div class="content">
    <div class="inner-content">

      <line-header ref="header" bind-title="headertitle"></line-header>
      <help-button></help-button>

      <div class="middle-part intro">
        <img rv-src="exercice.chapter.iconPath">
        <div class="intro-text">
          {exercice.chapter.content}
        </div>
      </div>

      <div class="middle-part question">
        <p class="message">{msg}</p>
        <question ref="question" bind-question="question"></question>
      </div>

      <div class="middle-part end">
        <p class="subtitle">{endsentence}</p>
        <img rv-src="reward.icon">
        <p class="reward-intro">Tu as trouvé un nouvel objet :</p>
        <p class="reward-name">{reward.name}</p>
      </div>

      <border-button ref="btnNext" bind-label="btnlabel"></border-button>

    </div>
  </div>
</div>