<div class="exercice">
  <div class="background"></div>
  <div class="content">
    <div class="inner-content">

      <line-header ref="header" bind-title="headertitle"></line-header>

      <div class="middle-part intro">
        <img rv-src="exercice.chapter.iconPath">
        <div class="intro-text">
          {exercice.chapter.content}
        </div>
      </div>

      <div class="middle-part question">
        <p>{msg}</p>
        <question ref="question" bind-question="question"></question>
      </div>

      <div class="middle-part end">
        The end
      </div>

      <border-button ref="btnNext" bind-label="btnlabel"></border-button>

    </div>
  </div>
</div>