.exercice
  @extend .full-size-absolute
  color brown
  display none
  opacity 0

  &.active
    opacity 1
    display block

  .help-button
    position absolute
    top 16px
    right 35px

  .background
    @extend .full-size-absolute

  .content
    width calc(870px - 30px)
    height calc(560px - 30px)
    position absolute
    margin auto
    background-image url('../assets/images/exercice/bg.jpg')
    background-size cover
    background-repeat no-repeat
    box-shadow 10px 10px 18px rgba(0, 0, 0, 0.07);
    top 0
    left 0
    right 0
    bottom 0
    border-radius 5px
    padding 15px
    text-align center

  .inner-content
    width 77%
    margin 0 auto

    .line-header
      margin-top 20px

    .middle-part
      height 365px

      &.end
        height 336px

  .intro
    img
      height 150px

  .question p.message
    position absolute
    top 68px
    left 50%
    transform translateX(-50%)

  .end
    .subtitle,
    .reward-intro
      font-size 20px

    img
      height 145px
      margin-top 35px
      margin-bottom 25px

    .reward-name
      text-transform uppercase
      font-size 28px
      line-height 1.5

  .logbook-container
    .subject
      @extend .font-default-italic
      position absolute
      top 80px
      left 50%
      width 77%
      transform translateX(-50%)

    .intro-text
      width 50%
      margin 0 auto

    .middle-part
      padding-top 35px

    .question
      .instruction
        margin-top 50px
        font-size 20px

      textarea
        margin-top 10px
        resize none
        @extend .font-default
        border 2px solid #d2cdbf
        background-color #f7f5ed
        color #a2916d
        font-size inherit

        &:focus
          outline none