.passport-grid
  display table
  border-collapse separate
  -webkit-border-horizontal-spacing 60px
  -webkit-border-vertical-spacing 15px
  margin 0 auto
  text-align center

  .row
    position relative
    top 20px
    left -30px

.passport-grid-item
  @extend .font-serif
  width 88px
  height 88px
  border-radius 4px
  display table-cell
  vertical-align middle
  position relative

  .icon
    margin 0 auto
    width 155px

  .stamp
    position absolute
    top -8px
    left -8px
    width 112%

  .label
    color brown
    margin-top 18px
    text-transform uppercase
    font-size 15px