<div class="passport-grid">
  <div class="row">
    <div class="passport-grid-item" rv-each-subchapter="row0">
      <img rv-src="subchapter.iconPath" class="icon">
      <img rv-show="subchapter.validated" rv-src="subchapter.stampPath" class="stamp">
      <div class="label" rv-html="subchapter.title"></div>
    </div>
  </div>
  <div class="row">
    <div class="passport-grid-item" rv-each-subchapter="row1">
      <img rv-src="subchapter.iconPath" class="icon">
      <img rv-show="subchapter.validated" rv-src="subchapter.stampPath" class="stamp">
      <div class="label" rv-html="subchapter.title"></div>
    </div>
  </div>
</div>