<ul class="points-indicator">
  <li class="point hidden">
    <div class="background"></div>
    <div class="middle"></div>
  </li>
  <li class="point hidden">
    <div class="background"></div>
    <div class="middle"></div>
  </li>
  <li class="point hidden">
    <div class="background"></div>
    <div class="middle"></div>
  </li>
  <li class="point hidden">
    <div class="background"></div>
    <div class="middle"></div>
  </li>
  <li class="point hidden">
    <div class="background"></div>
    <div class="middle"></div>
  </li>
  <li class="point hidden">
    <div class="background"></div>
    <div class="middle"></div>
  </li>
  <li class="point hidden">
    <div class="background"></div>
    <div class="middle"></div>
  </li>
</ul>