font-face('Aleo Light', '../assets/fonts/aleo/light/aleo-light');
font-face('Aleo', '../assets/fonts/aleo/regular/aleo-regular');
font-face('AvenirNext', '../assets/fonts/avenir next/regular/AvenirNext-Regular');
font-face('AvenirNext Italic', '../assets/fonts/avenir next/italic/AvenirNext-Italic');
font-face('AvenirNext DemiBold', '../assets/fonts/avenir next/demibold/AvenirNext-DemiBold');

.font-default
  font-family 'AvenirNext'
  @extend .smooth-font

.font-default-italic
  font-family 'AvenirNext Italic'
  @extend .smooth-font

.font-default-bold
  font-family 'AvenirNext DemiBold'
  @extend .smooth-font

.font-serif
  font-family 'Aleo'
  @extend .smooth-font

.font-serif-light
  font-family 'Aleo Light'
  @extend .smooth-font

h1, h2, h3, h4
  @extend .font-serif

p
  @extend .font-default