/***********************************************************
 * Aleo
 ***********************************************************/
/*
  Light
 */
@font-face {
  font-family: 'Aleo';
  src: url('../assets/fonts/Aleo-Light.otf')  format('opentype');
  font-weight: 300;
  font-style: normal;
}
/*
  Regular
 */
@font-face {
  font-family: 'Aleo';
  src: url('../assets/fonts/Aleo-Regular.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
/*
  Bold
 */
@font-face {
  font-family: 'Aleo';
  src: url('../assets/fonts/Aleo-Bold.otf')  format('opentype');
  font-weight: bold;
  font-style: normal;
}

/***********************************************************
 * Avenir Next
 ***********************************************************/
/*
  Demi Bold
 */
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-DemiBold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}
/*
  Italic
 */
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}
/*
  Regular
 */
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-default
  font-family 'Avenir Next'
  font-weight normal
  @extend .smooth-font

.font-default-italic
  font-family 'Avenir Next'
  font-weight normal
  font-style italic
  @extend .smooth-font

.font-default-bold
  font-family 'Avenir Next'
  font-weight bold
  font-style normal
  @extend .smooth-font

.font-serif
  font-family 'Aleo'
  font-weight normal
  font-style normal
  @extend .smooth-font

.font-serif-light
  font-family 'Aleo'
  font-weight 300
  font-style normal
  @extend .smooth-font

.font-serif-bold
  font-family 'Aleo'
  font-weight bold
  font-style normal
  @extend .smooth-font

h1, h2, h3, h4
  @extend .font-serif

body, p, li
  @extend .font-default