.interactive-map
  @extend .full-size-absolute
  background-image: url('../assets/images/map/ocean.jpg')
  background-size: cover
  background-position: center center

  .overlay
    @extend .full-size-absolute
    background black
    opacity 0
    display none