.interactive-map
  @extend .full-size-absolute
  background-image: url('../assets/images/map/ocean.jpg')
  background-size: cover
  background-position: center center

  .overlay
    @extend .full-size-absolute
    background black
    display none
    opacity 0
    transition opacity 0.4s

    &.active
      display block
      opacity 0.35