.chapter-header
  color brown
  text-align center
  text-transform uppercase
  margin-top 75px

  .header
    @extend .font-default
    margin-bottom 13px
    font-size 11px
    letter-spacing 2px

    &:before,
    &:after
      content ''
      width 113px
      height 1px
      background brown
      display inline-block
      position relative
      top -3px

    &:before
      left -31px

    &:after
      left 31px

  h1
    font-size 16.5px
    letter-spacing 4px